node_modules/
.expo/
.expo-shared/
dist/
web-build/
npm-debug.*
yarn-debug.*
yarn-error.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.pem
.env
.env.local
.direnv/
.DS_Store
ios/
android/
*.ipa
*.apk
*.aab
coverage/
.vscode/
.idea/
